<main class="w-full overflow-y-auto h-[calc(100vh-112px)] dark:bg-[#efbdda] bg-white mt-[4rem] block">
  <div class="rounded-[10px] bg-[#D95991] dark:bg-[#933558] h-[30%] w-[30%] p-4 m-4">
    <p class="text-[#f8e9eb] dark:text-[#f8e9eb] mt-2">{{ completionPercentage }}% completado</p>
    <div class="w-full border-white border-[1px] rounded mt-4">
      <div class="h-2 rounded bg-[#f8e9eb] bg-[#f8e9eb]" [style.width]="completionPercentage + '%'" transition-all></div>
    </div>
    <div class="flex w-full pt-4">
      <p class="text-l font-bold text-[#f8e9eb] dark:text-[#f8e9eb] mt-2">Tienes {{ remainTask }} tareas más por hacer</p>
      <img src="assets/icons/pagina.png" alt="task-icon" class="w-[3.5rem] h-[3.5rem] rotate-45">
    </div>
  </div>
  <div class="flex gap-4 sm:p-8 p-4 justify-between">
    <div class="flex items-center flex-wrap flex-start gap-4 ">
      <button *ngFor="let btn of btnslist" (click)="filterTask(btn.title)"
              [ngClass]="{'bg-[#D95991] dark:bg-[#933558] text-[#f8e9eb]': btn.status, 'dark:bg-[#BA7191] bg-[#FFE5EA] text-[#C40877]': !btn.status}"
              class="dark:text-[#f8e9eb] p-2 rounded-3xl flex items-center transition-transform transform hover:scale-110">{{btn.title}}</button>
    </div>
    <div>
      <button (click)="openModal()"
              class="transition-transform transform hover:scale-110 bg-[#D95991] w-[2.5rem] h-[2.5rem] flex justify-center dark:bg-[#E63985] text-white p-2 rounded-3xl flex items-center gap-2">
        <img class="w-[1rem] h-[1rem]" src="assets/icons/anadir.png"></button>
    </div>
  </div>
  <div class="flex-grow p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div *ngFor="let task of tasks">
      <app-card [task]="task" (edit)="openModal(task)" (complete)="toggleComplete(task)" (remove)="deleteTask(task.id!)"></app-card>
    </div>
  </div>
</main>
